<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="container d-flex justify-content-between p-3">
        <h2>Listado de Artículos</h2>
        <a class="btn btn-danger" href="/">Volver al Home</a>
        <a class="btn btn-success" href="/panel/usuarios">Usuarios</a>
        <a class="btn btn-success" href="/panel/comentarios">Comentarios</a>
      </div>
      <div class="">
        <table class="table table-striped table-bordered article-table">
          <thead class="w-100">
            <tr class="row">
              <th scope="col" class="col-1">ID</th>
              <th scope="col" class="col-1">Titulo</th>
              <th scope="col" class="col-4">Contenido</th>
              <th scope="col" class="col-3">Imagen</th>
              <th scope="col" class="col-1">Autor</th>
              <th scope="col" class="col-1">Número de Comentarios</th>
              <th scope="col" class="col-1">Gestionar</th>
            </tr>
          </thead>
          <tbody>
            <% for(article of articles) {%>
            <tr class="row">
              <td class="col-1"><%= article.id %></th>
              <td class="col-1"><%= article.title %></td>
              <td class="col-4"><%= article.content %></td>
              <td class="col-3 text-truncate"><img class="tableImg" src="/img/articlesImg/<%= article.image %>" alt=""></td>
              <td class="col-1 text-truncate"><%= article.user.firstname %> <%= article.user.lastname %></td>
              <td class="col-1"><a class="text-decoration-none text-dark" href=""><%= (article.comments).length  %></a></td>
              <td class="col-1">
                <a class="pe-1 " href="/panel/editar/articulo/<%= article.id %>"
                  ><button class="btn btn-primary">Editar</button></a
                ><a class="pe-1 " href="/articulos/destroy/<%= article.id  %>"
                  ><button class="btn btn-danger mt-2">Eliminar</button></a
                >
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
